@page "/surveyadmin"
@attribute [Authorize]

<h2 style="display:flex; align-items: center;">
	Manage Surveys
</h2>

<BlazingApple.Survey.Components.SurveyAdmin></BlazingApple.Survey.Components.SurveyAdmin>