@inject HttpClient http
@page "/singlesurvey"
@attribute [Authorize]

@if(_surveys?.Count <= 0) {
	<p>No surveys created yet!</p>
}
else if (surveyId != Guid.Empty)
{
	<SurveyTaker SurveyId="@surveyId" UserId="@_userId" />
}