@page "/singlesurvey/results"
@inject HttpClient http
@attribute [Authorize]

@if(_surveys?.Count <= 0) {
	<p>No surveys created yet!</p>
}
else if (surveyId != Guid.Empty)
{
	<SurveyResults SurveyId="@surveyId"></SurveyResults>
}
