@using System.Linq;
@using BlazingApple.Survey.Components.Services

@strError
@if (SelectedSurvey != null)
{
	<EditForm Model="SelectedSurvey">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="surveyName">Survey Name</label>
					<InputText id="surveyName" class="form-control" @bind-Value="SelectedSurvey.Name"></InputText>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="saveSurvey">&nbsp;</label>
					<div class="d-flex" style="flex-direction:row;">
						<button id="saveSurvey" type="button" class="btn btn-primary mb-1 me-1" @onclick="AddOrUpdate">Save</button>
						<button type="button" class="btn btn-light mb-1 mx-1" @onclick="Cancel">Close</button>
					</div>
				</div>
			</div>
		</div>
	</EditForm>
}