
@if(SelectedSurvey is not null) {
	<div class="d-flex" style="flex-direction: column;">
		<div class="d-flex" style="justify-content:flex-end;">
			<button @onclick="OnButtonClick" class="btn btn-light">Close</button>
		</div>
		<EditSurvey SelectedSurvey="SelectedSurvey" AdditionalSegments="@AdditionalSegments" OnClose="OnSurveyEditClosed" PromptInline="true"></EditSurvey>
	</div>
}