@inject DialogService DialogService
@if (Item != null)
{
	<div class="d-flex" style="flex-direction:row;">
		<div class="mr-2">
			<button class="btn btn-light btn-sm mt-2" @onclick="@(args => OpenQuestion())">Edit</button>
		</div>
		<div>
			<RenderQuestion Item="Item" />
			@if (_showEditForm)
			{
				<EditQuestion SelectedSurveyItem="Item" OnClose="CloseQuestion" PromptInline="true"></EditQuestion>
			}
		</div>
	</div>
}
