@inject DialogService DialogService
@if (Question != null)
{
	<div class="d-flex" style="flex-direction:row;">
		<div class="me-2">
			<button class="btn btn-light btn-sm mt-2" @onclick="@(args => OpenQuestion())">Edit</button>
		</div>
		<div>
			<RenderQuestion Question="Question" />
			@if (_showEditForm)
			{
				<EditQuestion SelectedQuestion="Question" OnClose="CloseQuestion" PromptInline="true"></EditQuestion>
			}
		</div>
	</div>
}
