.customColors .rz-scheme-pastel .rz-series-0, .customColors .rz-scheme-pastel .rz-series-item-0 {
  fill: #0085f2;
  stroke: #0085f2; }

.customColors .rz-scheme-pastel .rz-series-0-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-0 .rz-chart-tooltip-content {
  border: 1px solid #0085f2; }

.customColors .rz-scheme-pastel .rz-series-1, .customColors .rz-scheme-pastel .rz-series-item-1 {
  fill: #FF6665;
  stroke: #FF6665; }

.customColors .rz-scheme-pastel .rz-series-1-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-1 .rz-chart-tooltip-content {
  border: 1px solid #FF6665; }

.customColors .rz-scheme-pastel .rz-series-2, .customColors .rz-scheme-pastel .rz-series-item-2 {
  fill: #19c295;
  stroke: #19c295; }

.customColors .rz-scheme-pastel .rz-series-2-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-2 .rz-chart-tooltip-content {
  border: 1px solid #19c295; }

.customColors .rz-scheme-pastel .rz-series-3, .customColors .rz-scheme-pastel .rz-series-item-3 {
  fill: #b429cc;
  stroke: #b429cc; }

.customColors .rz-scheme-pastel .rz-series-3-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-3 .rz-chart-tooltip-content {
  border: 1px solid #b429cc; }

.customColors .rz-scheme-pastel .rz-series-4, .customColors .rz-scheme-pastel .rz-series-item-4 {
  fill: #f4c100;
  stroke: #f4c100; }

.customColors .rz-scheme-pastel .rz-series-4-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-4 .rz-chart-tooltip-content {
  border: 1px solid #f4c100; }

.customColors .rz-scheme-pastel .rz-series-5, .customColors .rz-scheme-pastel .rz-series-item-5 {
  fill: #69c300;
  stroke: #69c300; }

.customColors .rz-scheme-pastel .rz-series-5-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-5 .rz-chart-tooltip-content {
  border: 1px solid #69c300; }

.customColors .rz-scheme-pastel .rz-series-6, .customColors .rz-scheme-pastel .rz-series-item-6 {
  fill: #ff9200;
  stroke: #ff9200; }

.customColors .rz-scheme-pastel .rz-series-6-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-6 .rz-chart-tooltip-content {
  border: 1px solid #ff9200; }

.customColors .rz-scheme-pastel .rz-series-7, .customColors .rz-scheme-pastel .rz-series-item-7 {
  fill: #00bfd4;
  stroke: #00bfd4; }

.customColors .rz-scheme-pastel .rz-series-7-tooltip .rz-chart-tooltip-content, .customColors .rz-scheme-pastel .rz-series-item-7 .rz-chart-tooltip-content {
  border: 1px solid #00bfd4; }
